<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Greet me</h1>

    <form action="/hello" method="post" >Please enter your name:
        <input type="text" name="username">
                    <div>
                  <h1> {{counter}} <h1>
                   </div>
        <br>
        <br>
            <label class="">
                <input type="radio" name="language" value="English" class="selectLang">
                <span class="label-body">English</span>
            </label>

            <label class="">
                <input type="radio" name="language" value="IsiXhosa" class="selectLang">
                <span class="label-body">IsiXhosa</span>
            </label>

            <label class="">
                <input type="radio" name="language" value="Afrikaans" class="selectLang">
                <span class="label-body">Afrikaans</span>
            </label>

            <div>
                <br>
                <button class="button-primary" type="submit" name="button">Greet me!</button>
            </div>
            <br>

    </form>

    <div>
    <a href="/greeted">
     <button class="button-primary" type="submit" name="button">Greeted</button>
     </a>
    </div>

   <br>

    {{greeting}}

</body>
</html>